# IDE - VSCode

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets


/build
/node_modules


# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

.DS_Store

# img
*.jpg
*.png
img/

# videos 
*.mp4

# packages 

#log
*.log

password.txt